section#projects.cv__section(data-animate="fadeInUp")
  .section__container
    h2.section__title Experiencia Digital
    .projects__grid
      each project in projects
        a.project__card(
          href=project.url
          target="_blank"
          rel="noopener noreferrer"
          data-animate="zoomIn"
        )
          h3.project__name= project.name
          p.project__desc= project.description
          span.project__url= project.url
